<aside id="side-menu" class="w-64 h-screen relative bg-blue-500">
  <button
    class="w-12 h-12 absolute top-0 right-0"
    hx-post="/close"
    hx-target="#side-menu"
    hx-swap="outerHTML"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      strokeWidth="{1.5}"
      stroke="currentColor"
      className="w-6 h-6"
    >
      <path
        strokeLinecap="round"
        strokeLinejoin="round"
        d="M6 18 18 6M6 6l12 12"
      />
    </svg>

  </button>
</aside>