<aside id="side-menu" class="w-16 h-screen relative bg-blue-500">
  <button
    class="w-12 h-12 absolute top-0 right-0"
    hx-post="/open"
    hx-target="#side-menu"
    hx-swap="outerHTML"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
      />
    </svg>

  </button>
</aside>