<div id="page" class="w-screen h-screen bg-blue-300">

  <div class="w-full p-4 flex justify-center items-center">
    <button
      class="bg-green-300 text-green-900 px-4 py-2 rounded shadow shadow-green-900"
      hx-post="/chat"
      hx-target="#chat-list"
      hx-swap="beforeend settle:1s"
    >
      New Chat
    </button>

    <button
      class="bg-green-300 text-green-900 px-4 py-2 rounded shadow shadow-green-900"
      hx-post="/folder"
      hx-target="#chat-list"
      hx-swap="beforeend settle:1s"
    >
      New Folder
    </button>
  </div>

  <ul id="folder-list">
    {{#each folders}}
      {{> add_folder folder=this }}
    {{/each}}
  </ul>

  <div class="bg-red-500 w-full h-2"></div>

  <ul id="chat-list">
    
    {{#each chats}}
      {{> add_chat chat=this }}
    {{/each}}
  </ul>
</div>